<h1>Products#index</h1>
<ul>
  <% if @items.present? %>
    <% @items.each do |i| %>
      <% binding.pry %>
      <li> <%= i %></li>
    <% end %>
  <% end %>

</ul>



<%= form_tag("/products/add", method: "post") do %>
  <%= label_tag(:item, "product") %>
  <%= text_field_tag(:item) %>
  <%= submit_tag("add to cart") %>
<% end %>

<p>Find me in app/views/products/index.html.erb</p>
